<div class="cta_component">
  <div data-w-id="ef5ee9f9-bd82-d625-53bd-57b2728050ff" class="cta-wrapper padding">
    <div id="w-node-ef5ee9f9-bd82-d625-53bd-57b272805100-728050fd" class="cta-content">
      <div class="cta-title">
        <h2>{{ settings.cta_heading }}</h2>
        <div class="cta-tag">{{ settings.cta_tagline }}</div>
      </div>
      <div>{{ settings.cta_subheading }}</div>
    </div>
    <div id="w-node-ef5ee9f9-bd82-d625-53bd-57b272805109-728050fd" class="cta-content">
      <div class="button-wrapper">
        <a href="{{ settings.cta_button_link }}" class="button is-light w-inline-block">
          <div>{{ settings.cta_button_text }}</div>
        </a>
      </div>
    </div>
  </div>
</div>