<footer class="footer-component">
      <div class="container">
        <div class="footer-wrapper">
          <div class="footer-content">
            <div class="footer_form w-form">
              <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get" data-wf-page-id="66e6ed97469869045902b714" data-wf-element-id="a400b528-9370-88bc-deb3-e2cb1563d74f">
                <h3>Stay in the loop</h3>
                <div>News and insight straight to your inbox. We don’t spam.<br></div>
                <div class="subscribe-form">
                  <div class="subscribe-input"><input class="search-field w-input" maxlength="256" name="Email-Address-2" data-name="Email Address 2" placeholder="Email Address" type="text" id="Email-Address-2"></div>
                  <div class="button is-icon is-footer">
                    <div class="icon_small w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                        <path d="M21 21l-6 -6"></path>
                      </svg></div><input type="submit" data-wait="Please wait..." class="button-submit-icon w-button" value="">
                  </div>
                </div>
                <div class="terms-and-privacy">By clicking Submit, you agree to our <a target="_blank" href="{{settings.terms_of_service}}" class="terms-and-privacy">Terms &amp; Conditions </a>and<a target="_blank" href="{{settings.privacy_policy}}" class="terms-and-privacy"> Privacy Policy </a>.</div>
              </form>
             
            </div>
            <div class="footer-menu-wrapper">
              <div id="w-node-a400b528-9370-88bc-deb3-e2cb1563d76a-1563d74a" class="footer-menu">
                <h4>Services</h4>
                <ul role="list" class="footer-menu-list w-list-unstyled">
                   {% assign footer = linklists.footer.links %}

                    {% for link in footer %}
                      <li class="footer-menu-item">
                    <a href="{{link.url}}" class="footer-link">{{link.title}}</a>
                  </li>
                    {% endfor %}
                  
            
                </ul>
              </div>
              <div id="w-node-a400b528-9370-88bc-deb3-e2cb1563d77d-1563d74a" class="footer-menu is-resources">
                <h4>Resources</h4>
                <ul role="list" class="footer-menu-list w-list-unstyled">
                  <ul role="list" class="footer-menu-list w-list-unstyled">
                   {% assign resource = linklists.resource.links %}

                    {% for link in resource %}
                      <li class="footer-menu-item">
                    <a href="{{link.url}}" class="footer-link">{{link.title}}</a>
                  </li>
                    {% endfor %}
                  
            
                </ul>
                </ul>
              </div>
              <div id="w-node-a400b528-9370-88bc-deb3-e2cb1563d790-1563d74a" class="footer-menu">
                <h4>About</h4>
                <ul role="list" class="footer-menu-list w-list-unstyled">
                  {% assign about = linklists.about.links %}

                    {% for link in about %}
                      <li class="footer-menu-item">
                    <a href="{{link.url}}" class="footer-link">{{link.title}}</a>
                  </li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="popular-search">
            <div data-w-id="a400b528-9370-88bc-deb3-e2cb1563d7a4" class="popular-content hidden">
              <div class="popular-button">
                <div>Popular Search</div>
                <div class="popular-icon">
                  <div class="icon_tiny w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M6 9l6 6l6 -6"></path>
                    </svg></div>
                </div>
              </div>
              <div id="w-node-a400b528-9370-88bc-deb3-e2cb1563d7aa-1563d74a" class="popular-link">
                <div class="popular-search-grid">
                  <ul id="w-node-a400b528-9370-88bc-deb3-e2cb1563d7ac-1563d74a" role="list" class="footer-menu-list w-list-unstyled">
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Sales</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Leasing</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Off Plan</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Commercial Properties</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Property Management</a>
                    </li>
                  </ul>
                  <ul id="w-node-a400b528-9370-88bc-deb3-e2cb1563d7bc-1563d74a" role="list" class="footer-menu-list w-list-unstyled">
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Sales</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Leasing</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Off Plan</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Commercial Properties</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Property Management</a>
                    </li>
                  </ul>
                  <ul id="w-node-a400b528-9370-88bc-deb3-e2cb1563d7cc-1563d74a" role="list" class="footer-menu-list w-list-unstyled">
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Sales</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Leasing</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Off Plan</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Commercial Properties</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Property Management</a>
                    </li>
                  </ul>
                  <ul id="w-node-a400b528-9370-88bc-deb3-e2cb1563d7dc-1563d74a" role="list" class="footer-menu-list w-list-unstyled">
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Sales</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Leasing</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Off Plan</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Commercial Properties</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Property Management</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom-links">
            <div class="footer-bottom-content">
              <div class="internal-static-links">
        
                {% assign terms = linklists.terms.links %}

                    {% for link in terms %}
                      <a href="{{link.url}}" class="footer-link is-small">{{link.title}}</a>
                      {% unless forloop.last %}
                          <span> / </span>
                      {% endunless %}
                    {% endfor %}
              </div>
              <div class="terms-and-privacy">© 2024 haus &amp; haus Group. All Rights Reserved.</div>
              <div class="terms-and-privacy">Site by <a href="#" class="terms-and-privacy">BarkahLabs.</a>
              </div>
            </div>
            <div class="social-links">
              <a href="{{settings.facebook_link}}" class="social-link w-inline-block">
                <div class="icon_large w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-3 7h-1.924c-.615 0-1.076.252-1.076.889v1.111h3l-.238 3h-2.762v8h-3v-8h-2v-3h2v-1.923c0-2.022 1.064-3.077 3.461-3.077h2.539v3z" fill="currentColor"/></svg>
                </div>
              </a>
              <a href="{{settings.instagram_link}}" class="social-link w-inline-block">
                <div class="icon_large w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.233 5.488c-.843-.038-1.097-.046-3.233-.046s-2.389.008-3.232.046c-2.17.099-3.181 1.127-3.279 3.279-.039.844-.048 1.097-.048 3.233s.009 2.389.047 3.233c.099 2.148 1.106 3.18 3.279 3.279.843.038 1.097.047 3.233.047 2.137 0 2.39-.008 3.233-.046 2.17-.099 3.18-1.129 3.279-3.279.038-.844.046-1.097.046-3.233s-.008-2.389-.046-3.232c-.099-2.153-1.111-3.182-3.279-3.281zm-3.233 10.62c-2.269 0-4.108-1.839-4.108-4.108 0-2.269 1.84-4.108 4.108-4.108s4.108 1.839 4.108 4.108c0 2.269-1.839 4.108-4.108 4.108zm4.271-7.418c-.53 0-.96-.43-.96-.96s.43-.96.96-.96.96.43.96.96-.43.96-.96.96zm-1.604 3.31c0 1.473-1.194 2.667-2.667 2.667s-2.667-1.194-2.667-2.667c0-1.473 1.194-2.667 2.667-2.667s2.667 1.194 2.667 2.667zm4.333-12h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm.952 15.298c-.132 2.909-1.751 4.521-4.653 4.654-.854.039-1.126.048-3.299.048s-2.444-.009-3.298-.048c-2.908-.133-4.52-1.748-4.654-4.654-.039-.853-.048-1.125-.048-3.298 0-2.172.009-2.445.048-3.298.134-2.908 1.748-4.521 4.654-4.653.854-.04 1.125-.049 3.298-.049s2.445.009 3.299.048c2.908.133 4.523 1.751 4.653 4.653.039.854.048 1.127.048 3.299 0 2.173-.009 2.445-.048 3.298z" fill="currentColor"/></svg>
                </div>
              </a>
              <a href="{{settings.linkedin_link}}" class="social-link w-inline-block">
                <div class="icon_large w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" fill="currentColor"/></svg>
                </div>
              </a>
              <a href="{{settings.youtube_link}}" class="social-link w-inline-block">
                <div class="icon_large w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 9.333l5.333 2.662-5.333 2.672v-5.334zm14-4.333v14c0 2.761-2.238 5-5 5h-14c-2.761 0-5-2.239-5-5v-14c0-2.761 2.239-5 5-5h14c2.762 0 5 2.239 5 5zm-4 7c-.02-4.123-.323-5.7-2.923-5.877-2.403-.164-7.754-.163-10.153 0-2.598.177-2.904 1.747-2.924 5.877.02 4.123.323 5.7 2.923 5.877 2.399.163 7.75.164 10.153 0 2.598-.177 2.904-1.747 2.924-5.877z" fill="currentColor"/></svg>
                </div>
              </a>
              <a href="{{settings.podcast_link}}" class="social-link w-inline-block">
                <div class="icon_large w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13 22.589v1.411h-2v-1.425c0-1.958-.943-3.015-2-4.575h6c-1.062 1.553-2 2.612-2 4.589zm3-9.589c-.552 0-1-.448-1-1s.448-1 1-1h2v-2h-2c-.552 0-1-.448-1-1s.448-1 1-1h2v-2h-2c-.552 0-1-.448-1-1s.448-1 1-1h1.858c-.446-1.722-1.997-3-3.858-3h-4c-1.861 0-3.412 1.278-3.858 3h1.858c.552 0 1 .448 1 1s-.448 1-1 1h-2v2h2c.552 0 1 .448 1 1s-.448 1-1 1h-2v2h2c.552 0 1 .448 1 1s-.448 1-1 1h-1.858c.446 1.722 1.997 3 3.858 3h4c1.861 0 3.412-1.278 3.858-3h-1.858z" fill="currentColor"/></svg>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>