<footer class="footer-component">
      <div class="container">
        <div class="footer-wrapper">
          <div class="footer-content">
            <div class="footer_form w-form">
              <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get" data-wf-page-id="66e6ed97469869045902b714" data-wf-element-id="a400b528-9370-88bc-deb3-e2cb1563d74f">
                <h3>Stay in the loop</h3>
                <div>News and insight straight to your inbox. We don’t spam.<br></div>
                <div class="subscribe-form">
                  <div class="subscribe-input"><input class="search-field w-input" maxlength="256" name="Email-Address-2" data-name="Email Address 2" placeholder="Email Address" type="text" id="Email-Address-2"></div>
                  <div class="button is-icon is-footer">
                    <div class="icon_small w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                        <path d="M21 21l-6 -6"></path>
                      </svg></div><input type="submit" data-wait="Please wait..." class="button-submit-icon w-button" value="">
                  </div>
                </div>
                <div class="terms-and-privacy">By clicking Submit, you agree to our <a target="_blank" href="{{settings.terms_of_service}}" class="terms-and-privacy">Terms &amp; Conditions </a>and<a target="_blank" href="{{settings.privacy_policy}}" class="terms-and-privacy"> Privacy Policy </a>.</div>
              </form>
             
            </div>
            <div class="footer-menu-wrapper">
              <div id="w-node-a400b528-9370-88bc-deb3-e2cb1563d76a-1563d74a" class="footer-menu">
                <h4>Services</h4>
                <ul role="list" class="footer-menu-list w-list-unstyled">
                   {% assign footer = linklists.footer.links %}

                    {% for link in footer %}
                      <li class="footer-menu-item">
                    <a href="{{link.url}}" class="footer-link">{{link.title}}</a>
                  </li>
                    {% endfor %}
                  
            
                </ul>
              </div>
              <div id="w-node-a400b528-9370-88bc-deb3-e2cb1563d77d-1563d74a" class="footer-menu is-resources">
                <h4>Resources</h4>
                <ul role="list" class="footer-menu-list w-list-unstyled">
                  <ul role="list" class="footer-menu-list w-list-unstyled">
                   {% assign resource = linklists.resource.links %}

                    {% for link in resource %}
                      <li class="footer-menu-item">
                    <a href="{{link.url}}" class="footer-link">{{link.title}}</a>
                  </li>
                    {% endfor %}
                  
            
                </ul>
                </ul>
              </div>
              <div id="w-node-a400b528-9370-88bc-deb3-e2cb1563d790-1563d74a" class="footer-menu">
                <h4>About</h4>
                <ul role="list" class="footer-menu-list w-list-unstyled">
                  {% assign about = linklists.about.links %}

                    {% for link in about %}
                      <li class="footer-menu-item">
                    <a href="{{link.url}}" class="footer-link">{{link.title}}</a>
                  </li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="popular-search">
            <div data-w-id="a400b528-9370-88bc-deb3-e2cb1563d7a4" class="popular-content hidden">
              <div class="popular-button">
                <div>Popular Search</div>
                <div class="popular-icon">
                  <div class="icon_tiny w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M6 9l6 6l6 -6"></path>
                    </svg></div>
                </div>
              </div>
              <div id="w-node-a400b528-9370-88bc-deb3-e2cb1563d7aa-1563d74a" class="popular-link">
                <div class="popular-search-grid">
                  <ul id="w-node-a400b528-9370-88bc-deb3-e2cb1563d7ac-1563d74a" role="list" class="footer-menu-list w-list-unstyled">
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Sales</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Leasing</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Off Plan</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Commercial Properties</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Property Management</a>
                    </li>
                  </ul>
                  <ul id="w-node-a400b528-9370-88bc-deb3-e2cb1563d7bc-1563d74a" role="list" class="footer-menu-list w-list-unstyled">
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Sales</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Leasing</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Off Plan</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Commercial Properties</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Property Management</a>
                    </li>
                  </ul>
                  <ul id="w-node-a400b528-9370-88bc-deb3-e2cb1563d7cc-1563d74a" role="list" class="footer-menu-list w-list-unstyled">
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Sales</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Leasing</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Off Plan</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Commercial Properties</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Property Management</a>
                    </li>
                  </ul>
                  <ul id="w-node-a400b528-9370-88bc-deb3-e2cb1563d7dc-1563d74a" role="list" class="footer-menu-list w-list-unstyled">
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Sales</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Residential Leasing</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Off Plan</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Commercial Properties</a>
                    </li>
                    <li class="footer-menu-item">
                      <a href="#" class="footer-link">Property Management</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom-links">
            <div class="footer-bottom-content">
              <div class="internal-static-links">
        
                {% assign terms = linklists.terms.links %}

                    {% for link in terms %}
                      <a href="{{link.url}}" class="footer-link is-small">{{link.title}}</a>
                      {% unless forloop.last %}
                          <span> / </span>
                      {% endunless %}
                    {% endfor %}
              </div>
              <div class="terms-and-privacy">© 2024 haus &amp; haus Group. All Rights Reserved.</div>
              <div class="terms-and-privacy">Site by <a href="#" class="terms-and-privacy">BarkahLabs.</a>
              </div>
            </div>
            <div class="social-links">
              <a href="{{settings.facebook_link}}" class="social-link w-inline-block">
                <div class="icon_large w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewbox="0 0 40 40">
                    <circle cx="20" cy="20" r="20" fill="none"></circle>
                    <path fill="currentColor" fill-rule="evenodd" d="M21.821 30v-9h2.733L25 17h-3.179v-1.948c0-1.03.027-2.052 1.466-2.052h1.458v-2.86c0-.043-1.253-.14-2.52-.14-2.645 0-4.302 1.657-4.302 4.7V17H15v4h2.923v9h3.898Z" clip-rule="evenodd"></path>
                  </svg></div>
              </a>
              <a href="{{settings.instagram_link}}" class="social-link w-inline-block">
                <div class="icon_large w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewbox="0 0 40 40">
                    <circle cx="20" cy="20" r="20" fill="none"></circle>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" d="M23.84 11.04h-7.68a5.12 5.12 0 0 0-5.12 5.12v7.68a5.12 5.12 0 0 0 5.12 5.12h7.68a5.12 5.12 0 0 0 5.12-5.12v-7.68a5.12 5.12 0 0 0-5.12-5.12Z" clip-rule="evenodd"></path>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" d="M20 23.84a3.84 3.84 0 1 1 0-7.68 3.84 3.84 0 0 1 0 7.68Z" clip-rule="evenodd"></path>
                    <path fill="#fff" d="M25.12 13.6a1.28 1.28 0 1 0 0 2.56 1.28 1.28 0 0 0 0-2.56Z"></path>
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="1.7" d="M25.12 14.24a.64.64 0 1 0 0 1.28.64.64 0 0 0 0-1.28Z"></path>
                  </svg></div>
              </a>
              <a href="{{settings.linkedin_link}}" class="social-link w-inline-block">
                <div class="icon_large w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewbox="0 0 40 40">
                    <circle cx="20" cy="20" r="20" fill="none"></circle>
                    <g clip-path="url(#prefix__a)">
                      <path fill="currentColor" fill-rule="evenodd" d="M14.55 29.54V16.668h-4.277V29.54h4.278Zm-2.138-14.63c1.492 0 2.42-.99 2.42-2.225-.027-1.263-.928-2.224-2.392-2.224s-2.42.961-2.42 2.224c0 1.236.928 2.225 2.364 2.225h.028Zm4.507 14.63s.056-11.665 0-12.873h4.279v1.867h-.028c.562-.879 1.576-2.17 3.884-2.17 2.816 0 4.926 1.84 4.926 5.795v7.382h-4.278v-6.887c0-1.73-.62-2.912-2.168-2.912-1.182 0-1.886.796-2.195 1.566-.113.274-.141.659-.141 1.043v7.19h-4.28Z" clip-rule="evenodd"></path>
                    </g>
                    <defs>
                      <clippath id="prefix__a">
                        <rect width="20" height="20" fill="#fff" transform="translate(10 10)"></rect>
                      </clippath>
                    </defs>
                  </svg></div>
              </a>
              <a href="{{settings.youtube_link}}" class="social-link w-inline-block">
                <div class="icon_large w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewbox="0 0 40 40">
                    <circle cx="20" cy="20" r="20" fill="none"></circle>
                    <g clip-path="url(#prefix__a)">
                      <path fill="currentColor" fill-rule="evenodd" d="M17.988 22.586v-5.612c1.993.938 3.536 1.843 5.36 2.82-1.505.834-3.367 1.77-5.36 2.792Zm11.103-8.403c-.344-.453-.93-.805-1.553-.922-1.833-.348-13.267-.349-15.099 0-.5.094-.945.32-1.328.673-1.611 1.496-1.106 9.518-.718 10.817.163.563.375.968.64 1.234.343.353.813.595 1.351.704 1.51.312 9.284.486 15.122.046a2.62 2.62 0 0 0 1.39-.71c1.49-1.49 1.388-9.963.195-11.842Z" clip-rule="evenodd"></path>
                    </g>
                    <defs>
                      <clippath id="prefix__a">
                        <rect width="20" height="20" fill="#fff" transform="translate(10 10)"></rect>
                      </clippath>
                    </defs>
                  </svg></div>
              </a>
              <a href="{{settings.podcast_link}}" class="social-link w-inline-block">
                <div class="icon_large w-embed"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" id="prefix__Layer_1" x="0" y="0" enable-background="new 0 0 125 125" version="1.1" viewbox="0 0 125 125">
                    <path d="M62.5 125C97 125 125 97 125 62.5S97 0 62.5 0 0 28 0 62.5 28 125 62.5 125" style="fill:none"></path>
                    <path d="M67.3 59v-3.7H79v-3H67.3v-3.7H79v-3H67.3v-3.7H79c-.6-6.4-6-11.5-12.5-11.5h-7.9c-6.5 0-11.9 5.1-12.5 11.5h11.7v3.7H46v3h11.7v3.7H46v3h11.7V59H46v3h11.7v3.7H46.1c.5 5.5 4.6 10.1 9.9 11.2.1.6.3 1.3.4 1.9.3 1.4 1.1 2.6 2.2 3.6.4.3.8.6 1.2.8v11.5h5.4V83.2c.4-.2.8-.5 1.2-.8 1.1-.9 1.9-2.2 2.2-3.6.1-.6.3-1.3.4-1.9 5.3-1.1 9.4-5.7 9.9-11.2H67.3V62H79v-3H67.3z" style="fill:currentColor"></path>
                  </svg></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>