<header class="header {% if template == 'index' %}{{ "is-home" }}{% elsif template =='collection' or template == 'off-plan-properties' or template == 'search' %} {{ "background-primary" }} {% else %}{{ "background-primary is-fixed" }}{% endif %}">
      <div data-w-id="1b1bca74-ba9f-0978-fa6c-42b2b360f21a" data-animation="over-right" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar_component w-nav">
        <div class="container-fluid">
          <a href="{{shop.url}}" class="navbar-brand w-nav-brand"><img src="{{ settings.website_logo |  img_url : 'original' }}" loading="lazy" width="150" height="32" alt="{{shop.name}}" class="logo-img"></a>
          <nav role="navigation" class="navbar-collapse w-nav-menu">
            <div class="nav_header">
              <a href="{{shop.url}}" class="navbar-brand w-nav-brand"><img src="{{ settings.website_logo |  img_url : 'original' }}" loading="lazy" width="150" height="32" alt="{{shop.name}}" class="logo-img"></a>
              <div class="menu-wrapper">
                <div class="menu-toggle w-nav-button">
                  <div class="menu-toggle-wrapper">
                    <div class="menu-list top"></div>
                    <div class="menu-list mid"></div>
                    <div class="menu-list bottom"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-menu">
              {% assign main_menu = linklists.main-menu.links %}

              {% for link in main_menu %}
                {%if link.links.size > 0%}
                  <div data-hover="true" data-delay="0" class="nav-dropdown w-dropdown">
                <div class="nav-dropdown-toogle w-dropdown-toggle">
                  <a href="{{ link.url }}" class="nav-link w-nav-link">{{ link.title }}</a>
                </div>
                <nav class="nav-dropdown_list w-dropdown-list">
                  <div class="dropdown_list">
                    {% for sub_link in link.links %}
                      <a href="{{ sub_link.url }}" class="dropdown-link w-nav-link">{{ sub_link.title }}</a>
                    {% endfor %}
                  </div>
                </nav>
              </div>
              {%else%}
                <a href="{{ link.url }}" class="nav-link w-nav-link">{{ link.title }}</a>
              {%endif%}
              {% endfor %}
              
              <div class="whatsapp-burger">
                <a href="{{settings.whatsapp_link}}" class="whatsapp-button w-inline-block"  target="_blank">
                  <div class="whatsapp-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
                      <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"></path>
                    </svg></div>
                  <div>WhatsApp</div>
                </a>
              </div>
            </div>
          </nav>
          <div class="menu-wrapper">
            <a href="{{settings.whatsapp_link}}"  target="_blank" class="whatsapp-button w-inline-block">
              <div class="whatsapp-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
                  <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"></path>
                </svg></div>
            </a>
            <div data-w-id="1b1bca74-ba9f-0978-fa6c-42b2b360f231" class="menu-toggle w-nav-button">
              <div class="menu-toggle-wrapper">
                <div class="menu-list top"></div>
                <div class="menu-list mid"></div>
                <div class="menu-list bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>