<section class="section_component">
  <div class="container">
    <div data-w-id="b8d99177-7a75-1733-ef97-6fd2592f23e3" class="breadcrumb-module-wrapper">
      <a href="{{shop.url}}" class="breadcrumb-item w-inline-block">
        <p>Home</p>
      </a>
      {% if template contains 'page' %}
         <div class="icon_tiny w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
          viewbox="0 0 16 16" transform="rotate(-90)">
          <path stroke="#ADB4AF" stroke-linecap="round" stroke-linejoin="round" d="m13 5.5-5 5-5-5">
          </path>
        </svg>
        </div>
        <a href="{{ page.url }}" class="breadcrumb-item w-inline-block">
          <p>{{ page.title }}</p>
        </a>
      {% elsif template contains 'product' %}
         <div class="icon_tiny w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
          viewbox="0 0 16 16" transform="rotate(-90)">
          <path stroke="#ADB4AF" stroke-linecap="round" stroke-linejoin="round" d="m13 5.5-5 5-5-5">
          </path>
        </svg>
        </div>
        <a href="{{ product.url }}" class="breadcrumb-item w-inline-block">
          <p>{{ product.title }}</p>
        </a>
      {% elsif template contains 'article' %}
         <div class="icon_tiny w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
          viewbox="0 0 16 16" transform="rotate(-90)">
          <path stroke="#ADB4AF" stroke-linecap="round" stroke-linejoin="round" d="m13 5.5-5 5-5-5">
          </path>
        </svg>
        </div>
        <a href="{{ blogs.news.url }}" class="breadcrumb-item w-inline-block">
          <p>{{ blogs.news.title }}</p>
        </a>
         <div class="icon_tiny w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
          viewbox="0 0 16 16" transform="rotate(-90)">
          <path stroke="#ADB4AF" stroke-linecap="round" stroke-linejoin="round" d="m13 5.5-5 5-5-5">
          </path>
        </svg>
        </div>
         <a href="{{ article.url }}" class="breadcrumb-item w-inline-block">
          <p>{{ article.title }}</p>
        </a>
      {% elsif template contains 'blog' %}
         <div class="icon_tiny w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
          viewbox="0 0 16 16" transform="rotate(-90)">
          <path stroke="#ADB4AF" stroke-linecap="round" stroke-linejoin="round" d="m13 5.5-5 5-5-5">
          </path>
        </svg>
        </div>
        <a href="{{ blog.url }}" class="breadcrumb-item w-inline-block">
          <p>{{ blog.title }}</p>
        </a>
      {% endif %}

    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Breadcrumb",
    "blocks": [],
    "presets": []
  }
{% endschema %}