<section class="section_component">
  <div class="container">
    <div
      data-w-id="51e0d9d6-05fa-2d90-7819-59c864987622"
      style="opacity:0"
      class="cta-wrapper">
      <div id="w-node-_63d6b63f-d07d-6339-07d1-6f30e4c2710b-5902b714" class="cta-content">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <div class="cta-title">

                <h2>{{ block.settings.heading }}</h2>
                <div class="cta-tag">{{ block.settings.tagline }}</div>
              </div>
            {%- when 'text' -%}
              <div>{{ block.settings.text }}</div>
            {%- when 'button' -%}
              <div class="button-wrapper padding-top-large align-left">
                <a href="{{ block.settings.cta_link }}" class="button is-light w-inline-block">
                  <div>{{ block.settings.cta_button }}</div>
                </a>
              </div>
          {%- endcase -%}
        {%- endfor -%}

      </div>
      <div id="w-node-_945e2639-c983-fe4e-e3d4-c659ec73937e-5902b714" class="cta-image">
        <div
          id="w-node-_47b31cac-d4a1-5a81-391a-6c2882c542e3-5902b714"
          style="-webkit-transform:translate3d(0, -20%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -20%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -20%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -20%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
          class="cta_image-wrapper _1">
          {% for product in collections.all.products %}
            <img
              src="{{product.images[0] | img_url : 'original'}}"
              alt="{{product.featured_image}}"
              width="220"
              height="110"
              loading="lazy"
              alt=""
              class="cta_image">
          {% endfor %}
        </div>
        <div
          id="w-node-_5a500f77-a0c7-9a53-4206-555707edb633-5902b714"
          style="-webkit-transform:translate3d(0, -47.5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -47.5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -47.5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -47.5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
          class="cta_image-wrapper _2">
          {% for product in collections.all.products %}
            <img
              src="{{product.images[0] | img_url : 'original'}}"
              alt="{{product.featured_image}}"
              width="220"
              height="110"
              loading="lazy"
              alt=""
              class="cta_image">
          {% endfor %}
        </div>
        <div
          id="w-node-e30a1f8b-88bc-8a7d-afeb-a47ff5c0bcb1-5902b714"
          style="-webkit-transform:translate3d(0, -5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
          class="cta_image-wrapper _3">
          {% for product in collections.all.products %}
            <img
              src="{{product.images[0] | img_url : 'original'}}"
              alt="{{product.featured_image}}"
              width="220"
              height="110"
              loading="lazy"
              alt=""
              class="cta_image">
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Home CTA",
    "blocks": [
      {
        "type": "heading",
        "name": "Heading Block",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "t:sections.cta-home.blocks.heading.settings.heading.label"
          }, {
            "type": "text",
            "id": "tagline",
            "label": "t:sections.cta-home.blocks.heading.settings.tagline.label"
          }
        ]
      }, {
        "type": "text",
        "name": "CTA Heading",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "t:sections.cta-home.blocks.text.settings.text.label",
            "default": "t:sections.cta-home.blocks.text.settings.text.default"
          }
        ]
      }, {
        "type": "button",
        "name": "CTA Button",
        "settings": [
          {
            "type": "text",
            "id": "cta_button",
            "label": "t:sections.cta-home.blocks.button.settings.text.label",
            "default": "t:sections.cta-home.blocks.button.settings.text.default"
          }, {
            "type": "url",
            "id": "cta_link",
            "label": "t:sections.cta-home.blocks.button.settings.url.label",
            "default": "t:sections.cta-home.blocks.button.settings.url.default"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home CTA",
        "blocks": [
          {
            "type": "heading"
          }, {
            "type": "text"
          }, {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}