<section class="section_component background-color-grey">
  <div class="container">
    <div class="section_title-wrapper">
      <div
        data-w-id="5173ed16-5e00-38cc-2a95-391775a32686"
        style="opacity:0"
        class="news-title">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'heading' %}
              <h2>{{ block.settings.heading }}</h2>
          {% endcase %}
        {% endfor %}


      </div>
      <div
        data-w-id="d32fc49e-95c7-35af-56f3-162b3ad4cc8e"
        style="opacity:0"
        class="article-wrapper">
        <div
          data-delay="4000"
          data-animation="slide"
          class="article_slider w-slider"
          data-autoplay="false"
          data-easing="ease"
          data-hide-arrows="false"
          data-disable-swipe="false"
          data-autoplay-limit="0"
          data-nav-spacing="3"
          data-duration="500"
          data-infinite="true">
          <div class="w-slider-mask">
            {% for interested in blogs.news.articles %}
              {% if interested._id != article._id %}
                {% if forloop.index <= 4 %}
                  <div class="article-slide w-slide">
                    <a
                      id="w-node-a07ff5be-ff10-9d67-7e0b-0ab3038fffa4-5902b714"
                      href="{{interested.url}}"
                      class="article-card w-inline-block">
                      <div data-w-id="a07ff5be-ff10-9d67-7e0b-0ab3038fffa5" class="article_thumbnail-wrapper"><img
                          src="{{interested.image | img_url : 'original'}}"
                          loading="lazy"
                          width="318"
                          height="160"
                          alt="{{interested.title}}"
                          style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                          class="article-image"></div>
                      <div class="article_detail">
                        <div>{{ interested.title }}</div>
                      </div>

                      <div class="article-date">{{
interested.published_at | date: '%b %d, %Y' }}</div>
                    </a>

                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="slide-dot w-slider-nav w-slider-nav-invert w-round"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Latest Blog",
    "blocks": [
      {
        "type": "heading",
        "name": "Heading Block",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "t:sections.latest-blog.blocks.heading.settings.heading.label",
            "default": "t:sections.latest-blog.blocks.heading.settings.heading.default"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Latest Blog",
        "blocks": [
          {
            "type": "heading"
          }
        ]
      }
    ]
  }
{% endschema %}