{% assign page_id = "66efa95e01e1c76f03012947" %}


<section class="section_component">
  <div class="container">
    <div data-w-id="b8d99177-7a75-1733-ef97-6fd2592f23e3" class="breadcrumb-module-wrapper">
      <a href="{{shop.url}}" class="breadcrumb-item w-inline-block">
        <p>Home</p>
      </a>
      <div class="icon_tiny w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
          viewbox="0 0 16 16" transform="rotate(-90)">
          <path stroke="#ADB4AF" stroke-linecap="round" stroke-linejoin="round" d="m13 5.5-5 5-5-5">
          </path>
        </svg></div>
      <a href="{{blog.url}}" class="breadcrumb-item w-inline-block">
        <p>{{blog.title}}</p>
      </a>

    </div>
  </div>
</section>
<section class="section_component">
  <div class="container">
    <div class="landing-content-wrapper">
      <div data-w-id="7bc9fdea-201a-4548-cce7-ab796688bc7d" style="opacity:0" class="content-section padding-0">
        <h1>Blog</h1>
        <p class="description">Discover the leading names in Dubai’s real estate market and what makes them stand out.
        </p>
      </div>
    </div>
  </div>
</section>
{% paginate blogs.news.articles by 12 %}
<section class="section_component">
  <div class="container">
    <div class="section_title-wrapper">
      <div class="blog-grid">
        {% for article in blogs.news.articles %}
        {% if forloop.index <=4 %} <a id="w-node-a07ff5be-ff10-9d67-7e0b-0ab3038fffa4-5902b714" href="{{article.url}}"
          class="article-card w-inline-block">
          <div data-w-id="a07ff5be-ff10-9d67-7e0b-0ab3038fffa5" class="article_thumbnail"><img
              src="{{article.image | img_url : 'original'}}" loading="lazy" width="318" height="160"
              alt="{{article.title}}"
              style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
              class="article-image"></div>
          <div class="article_detail">
            <div>{{article.title}}</div>
          </div>

          <div class="article-date">{{
            article.published_at | date: '%b %d, %Y' }}</div>
          </a>
          {% endif %}
          {% endfor %}

      </div>
      <div data-w-id="60108434-58a2-52b7-dbb0-31834aeef7cf" style="opacity:0" class="load-more-wrap">
        {% if paginate.previous %}
        <a href="{{ paginate.previous.url }}" class="button is-secondary is-results-btn is-left w-inline-block">
          <div class="icon_small w-embed">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" fill="none" viewbox="0 0 17 16">
              <path stroke="#ADB4AF" stroke-linecap="round" stroke-linejoin="round" d="M11 13 6 8l5-5"></path>
            </svg>
          </div>
          <p class="pagination_title">Back</p>
        </a>
        {% endif %}

        <div class="pages-count">
          <p class="paragraph">Page</p>
          <div class="select-wrapper no-border">
            <div data-hover="false" data-delay="0" class="buy_select-wrapper w-dropdown">
              <div class="control-select w-dropdown-toggle">
                <div>{{ paginate.current_page }}</div>
                <div class="icon_small w-embed">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M6 9l6 6l6-6"></path>
                  </svg>
                </div>
              </div>
              <nav class="property-list w-dropdown-list">
                {% for i in (1..paginate.pages) %}
                <a href="{{ paginate | default_pagination: i }}" class="page-count w-dropdown-link">{{ i
                  }}</a>
                {% endfor %}
              </nav>
            </div>
          </div>
          <p class="paragraph">of {{ paginate.pages }}</p>
        </div>

        {% if paginate.next %}
        <a href="{{ paginate.next.url }}" class="button is-secondary is-results-btn is-right w-inline-block">
          <p class="pagination_title">Next</p>
          <div class="icon_small w-embed">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" fill="none" viewbox="0 0 17 16">
              <path stroke="#ADB4AF" stroke-linecap="round" stroke-linejoin="round" d="m6 3 5 5-5 5"></path>
            </svg>
          </div>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endpaginate %}
<section class="section_component">
  <div class="container">
    <div data-w-id="96523fc2-cf88-942b-11a8-e3a5e3311cbb" style="opacity:0" class="reviews-wrapper">
      <h2>&quot;I rented my apt in DIFC through h&amp;h. Excellent follow up, approach and service from Sean Fennessy.
        Highly recommended.&quot;<br></h2>
      <div class="review-wrapper">
        <div class="review_content"><img src="{{'google-reviews.svg'| asset_url}}" loading="lazy" alt="Google Review"
            width="245" height="22">
        </div>
        <div class="vertical-line"></div>
        <div class="review_content"><img src="{{'feefo.svg'| asset_url}}" loading="lazy" alt="Feefo Logo" width="86"
            height="20"><img src="{{'start.svg'| asset_url}}" loading="lazy" alt="Start Icon" width="90" height="14">
        </div>
      </div>
    </div>
    <div class="section_title-wrapper padding-top-0">
      <div class="featured-wrapper">
        <div id="w-node-_96523fc2-cf88-942b-11a8-e3a5e3311cc7-03012947" data-w-id="96523fc2-cf88-942b-11a8-e3a5e3311cc7"
          style="opacity:0" class="featured-card">
          <h3>Dubai Communities</h3>
          <div>Covering 100+ communities, we can help you find one <br>that ticks your boxes.</div>
          <div class="button-wrapper padding-top-large align-left">
            <a href="#" class="button w-inline-block">
              <div>Explore Dubai</div>
            </a>
          </div>
        </div>
        <div id="w-node-_96523fc2-cf88-942b-11a8-e3a5e3311cd2-03012947" data-w-id="96523fc2-cf88-942b-11a8-e3a5e3311cd2"
          style="opacity:0" class="featured-card item-2">
          <h3>Find your consultant</h3>
          <div>Search our team of 289 property experts to get <br>professional guidance.<br></div>
          <div class="button-wrapper padding-top-large align-left">
            <div class="w-form">
              <form action="/search" role="search" id="email-form-2" name="email-form-2" data-name="Email Form 2"
                method="get" class="find_content" data-wf-page-id="66e6ed97469869045902b714"
                data-wf-element-id="dae0f266-6909-60a6-7f6a-29508525f9df">
                <div class="property-search">
                  <div class="search-wrapper">
                    <div class="icon_tiny w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                        <path d="M21 21l-6 -6"></path>
                      </svg></div><input class="search-field w-input" maxlength="256" name="q"
                      data-name="Find your consultant" placeholder="Name or department" type="text"
                      id="Find-your-consultant">
                  </div>
                </div>
                <div class="button is-icon">
                  <div class="icon_small w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                      viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                      <path d="M21 21l-6 -6"></path>
                    </svg></div><input type="submit" data-wait="Please wait..." class="button-submit-icon w-button"
                    value="">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>