{% assign page_id = "66ef7b005928ea9fe8e1886b" %}


    <section class="section_component">
        <div class="container">
            <div data-w-id="b8d99177-7a75-1733-ef97-6fd2592f23e3" class="breadcrumb-module-wrapper">
                <a href="{{shop.url}}" class="breadcrumb-item w-inline-block">
                    <p>Home</p>
                </a>
                <div class="icon_tiny w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="none" viewbox="0 0 16 16" transform="rotate(-90)">
                        <path stroke="#ADB4AF" stroke-linecap="round" stroke-linejoin="round" d="m13 5.5-5 5-5-5">
                        </path>
                    </svg></div>
                <a href="{{page.url}}" class="breadcrumb-item w-inline-block">
                    <p>{{page.title}}</p>
                </a>
            </div>
        </div>
    </section>
    <section class="section_component">
        <div class="container">
            <div class="landing-content-wrapper blog">
                <div class="blog-wrapper">
                    <div data-w-id="6d0810a6-30a0-8221-b449-7b6a878beb82" style="opacity:0"
                        class="content-section padding-0">
                        <h1>{{page.title}}</h1>
                    </div>
                    <div data-w-id="2ca453c6-39a3-3564-7bfc-6eba71fccdc5" style="opacity:0" class="richtext">
                        {{page.content}}
                    </div>
                </div>
            </div>
        </div>
    </section>

