{% assign page_id = "66e6ed97469869045902b714"%}
{% assign secondary_header = "secondary_header" %}

{% assign all_tags = "" %}

{% assign max_tags = 8 %}
{% assign tag_count = 0 %}

{% for product in collections.all.products %}
{% for tag in product.tags %}
{% unless all_tags contains tag %}
{% assign all_tags = all_tags | append: tag | append: "," %}
{% endunless %}
{% endfor %}
{% endfor %}

{% assign tags_array = all_tags | split: "," %}


{%section 'home-hero'%}

{%section 'review'%}
<section class="section_component">
  <div class="container">
    <div data-w-id="bfc4d178-00ac-eaca-3287-e9c8a4d4f084" style="opacity:0" class="section_title-wrapper">
      <div class="features-wrapper">
        <h2>Search properties by feature<br></h2>
        <div class="button-wrapper gap-large">
          <a data-w-id="c70e3164-7149-9545-7b3c-24eecd07dddc" href="#" class="featured-button is-sale w-button">For
            Salet</a>
          <a data-w-id="0aa040e7-4578-d890-7559-1c602c123682" href="#" class="featured-button is-rent w-button">For
            Rent</a>
        </div>
      </div>
      <div class="features-list is-sale">

        {% for tag in tags_array %}
        {% if tag != "" and tag_count < max_tags %} <a data-w-id="9454dd57-782d-df81-f37d-9c66c5d486b9"
          style="background-color:rgb(255,255,255);color:rgb(29,12,75)"
          href="/collections/real-estate-listings/{{ tag | handle }}"
          class="button is-secondary search-featured w-inline-block">
          <div>{{tag}}</div>
          </a>
          {% assign tag_count = tag_count | plus: 1 %}
          {% endif %}
          {% endfor %}
      </div>
      <div
        style="-webkit-transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 4rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
        class="features-list is-rent">
        {% for tag in tags_array %}
        {% if tag != "" %}
        <a data-w-id="9454dd57-782d-df81-f37d-9c66c5d486b9"
          style="background-color:rgb(255,255,255);color:rgb(29,12,75)"
          href="/collections/rentals-in-dubai/{{ tag | handle }}" class="button is-secondary w-inline-block">
          <div>{{tag}}</div>
        </a>
        {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>
</section>
<section class="section_component">
  <div class="container">
    <div data-w-id="51e0d9d6-05fa-2d90-7819-59c864987622" style="opacity:0" class="cta-wrapper">
      <div id="w-node-_63d6b63f-d07d-6339-07d1-6f30e4c2710b-5902b714" class="cta-content">
        <div class="cta-title">
          <h2>Get an instant property valuation</h2>
          <div class="cta-tag">New</div>
        </div>
        <div>Thinking of selling your home? Knowing its current price is a good place to start. Get an accurate,
          independent valuation and a detailed report here.<br></div>
        <div class="button-wrapper padding-top-large align-left">
          <a href="#" class="button is-light w-inline-block">
            <div>Get Started</div>
          </a>
        </div>
      </div>
      <div id="w-node-_945e2639-c983-fe4e-e3d4-c659ec73937e-5902b714" class="cta-image">
        <div id="w-node-_47b31cac-d4a1-5a81-391a-6c2882c542e3-5902b714"
          style="-webkit-transform:translate3d(0, -20%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -20%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -20%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -20%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
          class="cta_image-wrapper _1">
          {% for product in collections.all.products %}
          {% if product.featured_image %}
          <img src="{{product.featured_image | img_url : 'original'}}" alt="{{product.featured_image}}" width="220"
            height="110" loading="lazy" alt="" class="cta_image">
          {% break %}
          {% endif %}
          {% endfor %}
        </div>
        <div id="w-node-_5a500f77-a0c7-9a53-4206-555707edb633-5902b714"
          style="-webkit-transform:translate3d(0, -47.5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -47.5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -47.5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -47.5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
          class="cta_image-wrapper _2">
          {% for product in collections.all.products %}
          {% if product.featured_image %}
          <img src="{{product.featured_image | img_url : 'original'}}" alt="{{product.featured_image}}" width="220"
            height="110" loading="lazy" alt="" class="cta_image">
          {% break %}
          {% endif %}
          {% endfor %}
        </div>
        <div id="w-node-e30a1f8b-88bc-8a7d-afeb-a47ff5c0bcb1-5902b714"
          style="-webkit-transform:translate3d(0, -5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -5%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
          class="cta_image-wrapper _3">
          {% for product in collections.all.products %}
          {% if product.featured_image %}
          <img src="{{product.featured_image | img_url : 'original'}}" alt="{{product.featured_image}}" width="220"
            height="110" loading="lazy" alt="" class="cta_image">
          {% break %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section_component">
  <div class="container">
    <div class="section_title-wrapper">
      <div data-w-id="109e477e-983f-ec40-c5af-e5876ebdd651" style="opacity:0" class="news-title">
        <h2>News &amp; Insights<br></h2>
        <div class="button-wrapper gap-large">
          <a href="#" class="button is-text w-inline-block">
            <div>GO to all news</div>
          </a>
        </div>
      </div>
      <div data-w-id="109e477e-983f-ec40-c5af-e5876ebdd65a" style="opacity:0" class="article-wrapper">
        <div data-delay="4000" data-animation="slide" class="article_slider w-slider" data-autoplay="false"
          data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0"
          data-nav-spacing="3" data-duration="500" data-infinite="true">
          <div class="w-slider-mask">
            {% for article in blogs.news.articles %}
            {% if forloop.index <=4 %} <div class="article-slide w-slide">
              <a id="w-node-a07ff5be-ff10-9d67-7e0b-0ab3038fffa4-5902b714" href="{{article.url}}"
                class="article-card w-inline-block">
                <div data-w-id="a07ff5be-ff10-9d67-7e0b-0ab3038fffa5" class="article_thumbnail"><img
                    src="{{article.image | img_url : 'original'}}" loading="lazy" width="318" height="160"
                    alt="{{article.title}}"
                    style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="article-image"></div>
                <div class="article_detail">
                  <div>{{article.title}}</div>
                </div>

                <div class="article-date">{{
                  article.published_at | date: '%b %d, %Y' }}</div>
              </a>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="slide-dot w-slider-nav w-slider-nav-invert w-round"></div>
      </div>
    </div>
  </div>
  </div>
</section>
{% section 'faq'%}